@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Poppins:wght@500;600;700;800&family=Whisper&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
}
body::-webkit-scrollbar {
  display: none;
}
body{
  width: 100%;
  height: 100%;
  background-color:#F8F8FF;
}
a {
  color:black;
}
.nav-bar{
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  padding-top:2vh ;
  background-color: #ffff;
  justify-content: space-between;
}
.website-name{
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 3vw;
  margin: 0px 5vw;
  cursor: pointer;
}
.menu-items{
  display: flex;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 2vw;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
}
.menu-items div{
  margin: 0px 4vw;
  cursor: pointer;
}
.cart{
  position: relative;
  margin-right: 5vw;
  /* border: 1px solid black; */
}
.cart-quantity{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#E50000;
  position: absolute;
  width: 2vw;
  height: 2vw;
  border-radius:9999px;
  color: #fff;
  font-family: 'Poppins';
  font-weight: 600;
  top: 0;
  right: -2.3vw;
  font-size: 1.5vw;
  opacity: 0;
}
.cart-text{
  display: flex;
  font-family: 'Whisper';
  font-weight: 600;
  font-size: 3vw;
  justify-content: center;
  cursor: pointer;
}
.main-top{
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 10vh;
}
.main-text{
  margin-left: 5vh;
}
.main-text-heading{
font-size: 6vw;
font-family: 'Poppins';
font-weight: 700;
}
.main-image{
  width: 40vw;
  height: 40vw;
  object-fit:cover;
  margin-top: 3vh;
  margin-right: 5vw;
  border-radius: 99999px;
}
.main-text-subtext{
  font-size: 1.5vw;
font-family: 'Poppins';
}
.main-text-button-div{
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}
.main-text-button{
  padding: 1vw 8vw;
  background-color: #cc7722;
  color: #F8F8FF;
  border: none;
  cursor: pointer;
  font-size: 2vw;
  font-weight: 600;
  border-radius: 20px;
}
.menu-items-heading{
font-size: 10vh;
font-family: 'Whisper';
font-weight: 700;
display: flex;
justify-content: center;
}
.menu{
  background-color: #f0ead2;
}
.menu-items-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu-item-container{
  width: 300px;
  text-align: center;
  padding: 25px;
  /* height:420px; */
  background-color: #ffff;
  margin: 30px;
  border-radius: 20px;
  box-shadow:inset 0px 0px 10px black;
}
.item-image-div{
  display: flex;
  justify-content: center;
}
.item-image{
  /* margin-top:25px; */
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}
.item-name{
  font-size: 3vh;
  font-family: 'Poppins';
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.item-description{
  font-size: 2vh;
  text-align: center;
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
}
.item-rating,
.item-price{
  font-size: 2vh;
  text-align: center;
  font-weight: 800;
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
}
.item-order-button,
.place-the-order{
  padding: 1vh 4vw;
  background-color: #cc7722;
  color: #F8F8FF;
  border: none;
  cursor: pointer;
  font-size: 2vh;
  font-weight: 600;
  border-radius: 20px;
}
.our-services-div{
  background-color: #f26d01;
  text-align: center;
}
.our-services-heading{
  font-size: 3vw;
  font-family: 'Poppins';
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.our-services-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service{
  background-color: #ffffff66;
  margin: 1vw 3vw;
  width: 15vw;
  padding: 3vw;
  border-radius: 20px;
}
.service-logo{
  color: white;
  height: 50px;
  width: 50px;
}
.service-text{
  font-size: 1vmax;
  font-family: 'Poppins';
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.reviews-div{
  background-color: #f0ead2;
  text-align: center;
}
.reviews-heading{
  font-size: 3vw;
  font-family: 'Poppins';
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.reviews{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.review-container{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  background-color: #ffff;
  margin: 20px;
  border-radius: 20px;
}
.review-text{
  width: 180px;
  font-family: 'Poppins';
  color: rgb(46, 43, 43);
  font-size: 2vh;
}
.review-stars{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 3vh;
}
.review-customer{
  font-family: 'Poppins';
  font-weight: 800;
  padding: 5px;
  font-size: 2.4vh;
}
footer {
  display: flex;
  justify-content:center;
  align-items: center;
  background-color:#cc7722;
}
.website-name-footer{
  font-family: 'Caveat', cursive;
  font-weight: 800;
  font-size: 6vw;
  text-align: center;
  padding: 2vw;
  margin-right: 2vw;
  background-color: #f0ead278;
  border-radius: 20px;
}
.website-icon{
  height: 150px;
  width: 150px;
}
.footer-right-content{
  font-family: 'Poppins';
  margin-top: 2vh;
  width: 70%;
}
.footer-right-content ul{
  list-style: none;
}

.footer-right-content ul li{
  opacity: 1;
  margin-bottom: 1vh;
}
.footer-right-content ul li:nth-child(1){
  margin-bottom:2vh ;
  font-weight: 800;
  font-size: 2vw;
  opacity: 1;
}
.cart-box{
  text-align: center;
  position: fixed;
  height: 100vh;
  right: 0px;
  width: 30vw;
  visibility: hidden;
  opacity: 0;
  background-color: #f0ead2;
  border-radius: 20px;
  transition: opacity .5s;
}
.cart-box-heading,
.cart-total-heading,
.cart-box-elements-item-name{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.5vw;
  margin-top: 1vh;
}
.cart-box-elements{
  margin-top: 2vh;
  max-height: 60%;
  background-color: whitesmoke;
  overflow: scroll;
  scroll-behavior: smooth;
}
.cart-box-elements-item{
  display: flex;
  align-items: center;
  height: 150px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
}
.cart-box-elements::-webkit-scrollbar {
  display: none;
}
.cart-box-elements-item-image{
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 1vw;
} 
.cart-box-elements-item-itemdetails{
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
}
.cart-box-elements-item-name{
  font-size: 1.2vw;
}
.cart-box-elements-item-price,
.cart-box-elements-item-quantity{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: .8vw;
  margin-top: .5vh;
  color: gray;
  text-align: start;
  margin-left: 1vw;
}

.cart-box-elements-item-finalamount{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}
.cart-item-finalprice{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.3vw;
  margin-left: 1vw;
  margin-top: 1vh;
  width: 100%;
}
.cart-item-remove{
  width: 8vw;
  padding: 1vh 0;
  background-color: #cc7722;
  color: #F8F8FF;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
  margin-bottom: 1vh;
}
.plus-circle,
.minus-circle{
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.cart-total-amount{
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 2vw;
  margin: 1vh;
}

@media only screen and (max-width: 767px) {
  .nav-bar{
    justify-content: space-evenly;
    align-items: center;
  }
  .website-name{
    font-size: 5vh;
    /* border: 1px solid black; */
  }
  .menu-items{
    display: none;
  }
  .cart-text{
    font-size: 5vh;
  }
  .cart-box{
    width: 100%;
  }
  .cart-quantity{
    width: 3vh;
    height: 3vh;
    font-size: 1.5vh;
    right: -3vh;
  }
  .menu-items-heading{
    font-size: 4vh;
  }
  .main-text-heading{
    color: #fff;
    font-weight: 800;
    -webkit-text-stroke: 1.5px black;
    text-align: center;
  }
  .main-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    width: 100%;
    background:url(../images/main-image.jpg);
    background-size: cover;
    background-position: center;
  }
  .main-text-button{
    margin-top: 0;
    margin-bottom: 1vh;
    font-size: 2vh;
  }
  .main-text-subtext{
    font-size: 1vh;
    width: 60%;
    text-align: center;
    background-color: #ffffff8f;
    backdrop-filter: blur(10px);
    font-weight: 600;
    color: black;
  }
  .main-image{
    display: none;
  }
  .menu-item-container{
  margin-top: 0;
  margin-bottom: 1vh;
  }
  .item-image{
    width: 20vh;
    height: 20vh;
  }
  .service{
    width: 20vw;
  }
  .review-container{
    width: 80%;
    height: auto;
    align-items: center;
  }
  .reviews-heading,
  .our-services-heading{
    font-size: 3vh;
  }
  .review-text{
    width: 100%;
    font-size: 1.5vh;
  }
  .review-stars{
    font-size: 2vh;
  }
  .review-customer{
    font-size: 2vh;
   }
   footer{
    display: flex;
    flex-direction: column;
   }
   .website-name-footer{
    width: 80%;
    margin-top: 2vh;
   }
   .website-name-footer p{
    font-size: 4vh;
   }
   .website-icon{
    height: 4.5vh;
   }
   .footer-right-content{
    width: 90%;
   }
   .footer-right-content ul li:nth-child(1){
    font-size: 3vh;
    text-align: center;
    width: 100%;
   }
   .cart-box-heading{
    font-size: 3vh;
   }
   .cart-box-elements-item-name{
    font-size: 2vh;
   }
   .cart-box-elements-item-price,
   .cart-box-elements-item-quantity
   {
    font-size: 1.5vh;
   }
   .cart-item-remove{
    width: 20vw;
   }
   .cart-total-heading{
    font-size: 3vh;
   }
   .cart-total-amount,
   .cart-item-finalprice{
    font-size: 2vh;
   }
}